$primary-color: hsl(25, 97%, 53%);
//  Secundary colors
$white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$medium-grey: hsl(216, 12%, 54%);
$dark-blue: hsl(213, 19%, 18%);
$very-dark-blue: hsl(216, 12%, 8%);
$options: #262f38;
$content: #1f2630;
$circle: #272e38;